{% extends "core/base.html" %}
{% load truncate %}

{% block opengraph %}
 <meta name="og:title" content="{{ request.journal.name }}"/>
 <meta name="og:description" content="{{ request.journal.name }}"/>
 <meta name="og:url" content="/ahnjournal{{ request.path_info }}"/>
 <meta name="og:image" content="https://open-neurosecurity.org/media/img/cover2.jpg"/>
{% endblock %}

{% block body %}

    {% for element in homepage_elements %}
        {% include element.template_path %}
    {% endfor %}

{% endblock body %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('.carousel.carousel-slider').carousel({fullWidth: true});
        })
        $('.carousel').carousel();
        setInterval(function () {
            $('.carousel').carousel('next');
        }, 8000);
    </script>

{% endblock %}
