
{% for preprint in preprints %}

        <div class="col m4">
            <div class="card" style="width: 100%;">
                <div class="card-content">
                    <h3>
                       <a href="{% url 'preprints_article' preprint.pk %}">{{ preprint.title|safe }}</a></small>
                    </h3>
                    <p>
                        By: <i>
                            {% for author in preprint.authors.all %}<a href="{% url 'core_public_profile' author.uuid %}">{{ author.full_name }}</a>{% if not forloop.last %},
                            {% endif %}{% endfor %}</i>
                    </p>
                    <p>
                        <small>Date published: <i class="fa fa-calendar">&nbsp;</i>{{ preprint.date_published|date:"Y-m-d" }}</small>
                    </p>
                </div>
            </div>
        </div>

{% endfor %}
