{% load static from staticfiles %}
{% load press_url from press_url %}
{% load svg from press_url %}
{% load i18n %}
{% load roles %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock head %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ request.journal.name }}{% endblock title %}</title>
    <link href="{% journal_url 'rss_articles' %}" type="application/atom+xml" rel="alternate"
          title="Article Feed for Journal">
    <link href="{% journal_url 'rss_news' %}" type="application/atom+xml" rel="alternate"
          title="News Feed for Journal">
    
    {# comment #}
    {% if journal.favicon %}
    <link rel="icon" href="{{ journal.favicon.url }}" type="image/vnd.microsoft.icon"/>{% endif %}
    {# endcomment #}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"> 
    
    {% block css %}

    {% endblock %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    {# <link href="{% static "css/materialize.min.css" %}" rel="stylesheet"> #}

    <link href="{% static "common/css/common.css" %}" rel="stylesheet">
    <link href="{% static "material/mat.css" %}" rel="stylesheet"> 
    <link href="{% static "material/ui-style.css" %}" rel="stylesheet" media="screen">

    <link href="{% static "common/css/jquery-te-1.4.0.css" %}" rel="stylesheet">


    <link rel="alternate" type="application/rss+xml" title="RSS Feed" 
    	href="{% url 'rss_articles' %}">

    {% block opengraph %}
    {% endblock opengraph %}
    
    <meta name="keywords" content="Applied Human Neurosecurity Journal, ahnjournal, neurosecurity, neurosec">
    <meta name="copyright" content="Applied Human Neurosecurity Journal">
    
        {# <script src="{% static 'material/material.js' %}"></script> #} 

 </head>
<body class="grey lighten-3">

{% block navbar %}
    {% if not request.journal %}
        {% include "press/nav.html" %}
    {% else %}
        {% include "core/nav.html" %}
    {% endif %}
{% endblock navbar %}

<div class="container">


	{% block breadcrumbs %}
	<ul class="breadcrumbs">

        {% if not request.user.is_authenticated %}
        <a href="{% url 'core_login' %}">Please sign in.</a>
        {% endif %}
        </ul>
	{% endblock breadcrumbs %}
        
      {% block title-section %}{% endblock %}
      {% block title-sub %}{% endblock %}
      <div id="content">
          {% block body %}
          {% endblock %}
      </div>
      <br class="clear"/>

{% include "elements/journal_footer.html" %}

</div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
<script src="{% static 'js/googleanalytics.js' %}"></script>
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/foundation.min.js"></script> #}

{% if messages %}
<script type="text/javascript">
{% for message in messages %}
M.toast({html: "{{ message|linebreaksbr }}", displayLength: 4000});
{% endfor %}
</script>
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TKJHXYERXG"></script>


{% block js %}
{% endblock js %}

<script type="text/javascript">
$(document).ready(function(){    
    $(".dropdown-trigger").dropdown();
    $("#nav-mobile").sidenav();
    });        
</script>

</html>
