<div class="page-footer grey lighten-1">
           
        <h4 style="text-shadow: 2px 2px #fafafa">Copyright 2021 Applied Human Neurosecurity Journal</h4>

        <a href="/">Home</a> | <a href="/about/">About</a> | {% if journal_settings.general.twitter_url %}<a href="{{ journal_settings.general.twitter_url }}">Twitter</a>{% endif %} | <a href="https://fundrazr.com/f1nvGc?ref=ab_6A8ay6">Donate</a> | <a href="/about/advertising/">Advertising</a> | <a href="/sitemap.xml">Sitemap</a> </p>
        <p>Janeway release: {{ janeway_version }} (<a href="https://github.com/JackBortoneLab/ahnjournal">Source code</a>)</p>
        
        {% comment %}
        {% if request.journal.issn %}<p>ISSN: {{ request.journal.issn }}</p>{% endif %}
        {% endcomment %}

</div>
