{% extends "admin/core/base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block title-section %}{% trans "Upload files" %}{% endblock %}
{% block css %}
<link href="{% static 'admin/css/timeline.css' %}" rel="stylesheet">
{% endblock %}



{% block body %}

<div class="card">
    <div class="card-content">
        {% include "submission/timeline.html" with data=article %}

        <div class="row expanded ">
            {% if error %}
        <p>Error: {{ error }}</p>
        {% endif %}

            <div class="large-12 columns">

                <p><strong>{% trans "Submission guidelines" %}</strong>: {% blocktrans %}To upload a file, select it
                    using one of the 'Choose file' buttons, then upload it with the 'Upload file' button next to it. You
                    will then be asked for some additional information (label, description etc.){% endblocktrans %}</p>
                <div class="title-area">
                    <h2>{{ request.journal.submissionconfiguration.submission_file_text }}</h2>
                </div>
                <div class="row expanded">
                    <div class="large-3 columns">
                         <button data-target="manuscript" class="btn modal-trigger"><i
                                    class="fa fa-upload">&nbsp;</i>{% trans "Upload" %}
                         </button>
                    </div>
                    <div class="large-9 columns col-md-offset-1">
                        <table class="scroll small">
                            <tr>
                                <th>{% trans "Label" %}</th>
                                <th>{% trans "File Name" %}</th>
                                <th></th>
                            </tr>
                            <form method="POST">
                                {% for file in article.manuscript_files.all %}
                                    <tr>
                                        <td>{{ file.label }}</td>
                                        <td>{{ file }}</td>
                                        <td>
                                            <button name="delete" type="submit" value="{{ file.pk }}"><i
                                                    class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="3">{% trans "No files uploaded" %}</td>
                                    </tr>
                                {% endfor %}
                            </form>
                        </table>
                    </div>
                </div>

                {% if request.journal.submissionconfiguration.figures_data %}
                    <div class="title-area">
                        <h2>{% trans 'Figures and Data Files' %}</h2>
                    </div>
                    <div class="row expanded">
                        <div class="large-3 columns">
                            <button data-target="data" class="btn modal-trigger"><i class="fas fa-upload">
                                &nbsp;</i>{% trans "Upload" %}
                            </button>
                        </div>
                        <div class="large-9 columns col-md-offset-1">
                            <table class="scroll small">
                                <tr>
                                    <th>{% trans "Label" %}</th>
                                    <th>{% trans "File Name" %}</th>
                                    <th></th>
                                </tr>
                                <form method="POST">
                                {% for file in article.data_figure_files.all %}
                                        <tr>
                                            <td>{{ file.label }}</td>
                                            <td>{{ file }}</td>
                                            <td>
                                                <button name="delete" type="submit" value="{{ file.pk }}"><i
                                                        class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="3">{% trans "No files uploaded." %}</td>
                                        </tr>
                                    {% endfor %}
                                </form>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>


            <div class="large-12 columns">
                <form method="POST">
                    {% csrf_token %}
                    <button class="button success pull-right" type="submit" name="next_step"><i class="fa fa-check">
                        &nbsp;</i>{% trans "Next" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% include "admin/elements/submit/file.html" with modaltype="manuscript" %}
{% include "admin/elements/submit/file.html" with modaltype="data" %}

{% endblock body %}

{% block js %}
{# {% include "admin/elements/open_modal.html" with target=modal %} #}
<script>$('.modal').modal()</script>
{% endblock %}

