{% load svg from press_url %}
{% load truncate %}
{% load i18n %}

<section>
    <div class="row">
        <div class="col m12">
                <h2>{% trans "Recent news" %}</h2>
                {% for item in news_items %}
                    <div class="card ui-generic">
                        <h2 class="feature greybg">{{ item.title }}</h2>

                        <div class="card-content">
                            <img src="{% url 'news_file_download' 'id' item.id item.large_image_file.id %}" class="responsive-img" width="30%" />
                            <div class="">
                                {{ item.body|safe|truncatesmart:100 }}
                            </div>
                            </div>
                    <div class="card-action">
                        <a href="{% url 'core_news_item' item.pk %}">{% trans "Read More" %}</a>
                    </div>
		    </div>
                {% endfor %}
        </div>
    </div>
</section>

<section>
     <h3>Social Media</h3>
     <ul class="colorList">
      {% for tweet in public_timeline %}
      <li>
         <a href="https://twitter.com/twitter/statuses/{{tweet.id}}">{{tweet.text}}</a></li>
      {% endfor %}
      </ul>
     <h3>Forum Updates</h3>
     <ul>
       {% for item in feed.entries %}
       <li><a href="{{ item.link }}">{{ item.title }}</a></li>
       {% endfor %}
     </ul>
</section>
