{% extends "core/base.html" %}
{% load static from staticfiles %}
{% load i18n %}


{% block opengraph %}
<meta property="og:title" content="{{ user.full_name }} Profile" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ profile_url }}" />
<meta property="og:image" content="{{ user.profile_image.url }}" />
<meta property="og:description" content="{{ user.full_name }} public profile on {{ request.journal.name }}" />
<meta property="og:site_name" content="{{ request.journal.name }}" />
{% endblock %}

{% block title %}{{ user.full_name }} {% trans "Profile" %}{% endblock %}

{% block body %}
	<section id="content">
		<div class="row">
            <div class="col m3">
                <img class="circle responsive-img editorial-image" src="{% if user.profile_image %}{{ user.profile_image.url }}{% else %}{% static "common/img/icons/users.png" %}{% endif %}" alt="Profile photo">
                <h3>{{ user.full_name }}</h3>
                <p><strong>{% trans "Roles" %}: </strong><br>{% for role in roles %}{{ role.role.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                <p><strong>{% trans "Affiliation" %}: </strong><br>{{ user.affiliation }}</p>
                <p><strong>{% trans "Country" %}:</strong><br>{{ user.country }}</p>
                {% if user.orcid %}
                <p><strong>{% trans "ORCID" %}:</strong><br>{{ user.orcid }}</p>
                {% endif %} 
            </div>
            <div class="col m9">
                {% if user.biography %}
                    <h3>{% trans "Biography" %}</h3>
                    <hr />
                    {{ user.biography|safe }}
                    <br/><br/>
                {% endif %}
                <h3>{% trans "Publications" %}</h3>
                <hr />
                {% for article in user.preprints %}
                <div class="card ui-generic b1">
                    <h3><a href="{% url 'preprints_article' article_id=article.id %}">{{ article.title }}</a></h3>
                    <p>Publication type: preprint</a>
                </div>
                {% endfor %}
                
            </div>
		</div>
	</section>
{% endblock %}
