{% extends "core/base.html" %}
{% load i18n towel_form_tags towel_batch_tags %}
{% load static from staticfiles %}

{% block title %}{% trans "Newsletter" %} - {{ block.super }}{% endblock %}

{% block opengraph %}
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:title" content="AHNJournal Newsletter" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{% static  "common/img/newsletter.png" %}" />
<meta property="og:url" content="{{ request.path }}" />
<meta property="og:description" content="AHNJournal Newsletter" />
<meta property="og:site_name" content="{{ request.journal.name }}" />
{% endblock %}

{% block page-header %}
<div class="page-header">
  <h1>{% trans "Newsletter" %}</h1>
</div>
{% endblock %}

{% block body %}

<p>To get the latest updates on Applied Human Neurosecurity Journal, subscribe to our mailing-list by submitting the form below.</p>
<form action="." method="post" class="form form-horizontal">

  {{ form.as_p }}

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">
      {% trans "Submit" %}</button>
  </div>

  <script>
    document.getElementById("{{ form.email.auto_id }}").focus();
  </script>
</form>
{% endblock %}
